.post
  h2.title
    a(href='#') About Me 
  p A CS / Physics Major At Carleton College
  .entry
    p
        img.alignleft.border(src='/images/personal_pic_edges.jpg', width='200', height='186', alt='', ng-if='!real', ng-click='toggleImg()', style='cursor:pointer')
        img.alignleft.border(src='/images/personal_pic.jpg', width='200', height='186', alt='', ng-if='real', ng-click='toggleImg()', style='cursor:pointer')
        | Hey there. My name is Duo Tao and I'm a {{classyear | lowercase}} at Carleton College. I study Computer Science and Physics. I do Web Development, and I develop Mac software too. Academically, I am very interested in theoretical computer science like algorithms, databases or basically "how this works". I believe there must be smart ideas behind every awesome technologies, and I want to discover them! Same with physics, it tells me "how things works" in the real world, and there are even more ingenious ideas because of its long history.
        br 
        br
        | During my free time, I practice triathlon, play basketball and read about the wisdom of ancient Chinese. Now I am delving into I Ching and Zhan Guo Ce.
