.post
  h2.title
    a(href='#') Phasellus pellentesque turpis 
  p.meta
    | Posted by 
    a(href='#') Someone
    |  on November 8, 2011
    | 							 •  
    a.comments(href='#') Comments (64)
    |   •  
    a.permalink(href='#') Full article
  .entry
    p
      img.alignleft.border(src='/images/img03.jpg', width='186', height='186', alt='')
      | Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc. Donec ipsum. Proin imperdiet est. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc.

.post
  h2.title
    a(href='#') Phasellus pellentesque turpis 
  p.meta
    | Posted by 
    a(href='#') Someone
    |  on November 8, 2011
    |                •  
    a.comments(href='#') Comments (64)
    |   •  
    a.permalink(href='#') Full article
  .entry
    p
      img.alignleft.border(src='/images/img03.jpg', width='186', height='186', alt='')
      | Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc. Donec ipsum. Proin imperdiet est. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc.