.post
  h2.title
    a(href='#') Contact Me 
  .entry
    ul
      li
        b Email
        | : taod@carleton.edu
      li
        b Address
        | : 300 North College Street, Northfield, MN, USA 55057
    #map