.post(ng-repeat="p in homepost")
  h2.title
    a(href='#')
    | {{p.title}}
  p.meta
    | Posted by 
    b {{p.author.username}}
    |  on {{p.date | date : 'fullDate'}}
    | 							 •  
    a.comments(href='#') Comments (999+)
    |   •  
    a.permalink(href='#') Full article
  .entry(ng-init='p.abbr = true')
      iframe.alignleft.border(ng-if='p.link != null' ng-src="{{p.link | trustUrl}}" width='300' height='300')
      div(ng-class="{'abbreviated': p.abbr}" ng-bind-html="p.content | parseMd")
      a.toggle-button(ng-click='p.abbr=!p.abbr') {{p.abbr ? ' + Full' : ' - Less'}}
