.post
  h2.title
    a(href='#')
      | This is the fucking big news
  p.meta
    | Posted by 
    a(href='#') Duo
    |  on April 18, 2016
    | 							 •  
    a.comments(href='#') Comments (999+)
    |   •  
    a.permalink(href='#') Full article
  .entry
    p
      img.alignleft.border(src='/images/personal_pic.jpg', width='186', height='186', alt='')
      | This is the 
      em first firstfirstfirstfirstfirstfirstfirstfirstfirst paragraph.first firstfirstfirstfirstfirstfirstfirstfirstfirst paragraph.first firstfirstfirstfirstfirstfirstfirstfirstfirst paragraph.
    p
      | This is the 
      b second paragraph.

.post
  h2.title
    a(href='#')
      | This is the fucking big news
  p.meta
    | Posted by 
    a(href='#') Duo
    |  on April 18, 2016
    |                •  
    a.comments(href='#') Comments (999+)
    |   •  
    a.permalink(href='#') Full article
  .entry
    p
      img.alignleft.border(src='/images/personal_pic.jpg', width='186', height='186', alt='')
      | This is the 
      em first firstfirstfirstfirstfirstfirstfirstfirstfirst paragraph.first firstfirstfirstfirstfirstfirstfirstfirstfirst paragraph.first firstfirstfirstfirstfirstfirstfirstfirstfirst paragraph.
    p
      | This is the 
      b second paragraph.
div(style='clear: both;')  