.post(ng-repeat="p in homepost")
  h2.title
    a(href='#')
      {{p.title}}
  p.meta
    | Posted by 
    a(href='#') {{p.author.username}}
    |  on {{p.date | date : 'fullDate'}}
    | 							 •  
    a.comments(href='#') Comments (999+)
    |   •  
    a.permalink(href='#') Full article
  .entry
    p
      img.alignleft.border(src='/images/personal_pic.jpg', width='186', height='186', alt='')
      {{p.content}}
div(style='clear: both;')  