.post(ng-repeat="p in homepost")
  h2.title
    a(href='#')
    | {{p.title}}
  p.meta
    | Posted by 
    a(href='#') {{p.author.username}}
    |  on {{p.date | date : 'fullDate'}}
    | 							 •  
    a.comments(href='#') Comments (999+)
    |   •  
    a.permalink(href='#') Full article
  .entry
    p
      iframe.alignleft.border(ng-if='p.link != null' ng-src="{{p.link | trustUrl}}" width='300' height='300')
      p(ng-bind-html="p.content | parseMd")
div(style='clear: both;')
