#header-wrapper
  #header
    #logo
      h1
        a(href='/') Duo Tao's Blog 
      p
        |  Administrator Page
// end #header
#menu(ng-controller='menuController')
  include management.menu.jade
