div.container-fluid
  h1 Author: #{currentUser.username}
  form
    // Text input
    .form-group
      label.control-label(for='title') Title
      input#title.form-control.input-md(name='title', style='width:99%', type='text', placeholder='', required, ng-model='post.title')
    // Textarea
    .form-group
      label.control-label(for='content') Content
      textarea#content.form-control(style='width:99%; max-width:100%' ng-change='refreshPreview()' name='content' rows='10', ng-model='post.content')
    .form-group
      label.control-label(for='link') Video Link
      input#link.form-control.input-md(name='link', type='text', style='width:99%', placeholder='Link to any video, optional', ng-model='post.link')
    // Multiple Checkboxes
    .form-group
      .checkbox
        label(for='home')
          input#home(type='checkbox', name='home', value='1' ng-model='post.home')
          | On Home
    // Button
    .form-group
      a#preview-btn.btn.btn-info.form-btn-not-last(data-toggle='modal', data-target='#preview-modal') Preview
      a#submit.btn.btn-success(name='submit' ng-click='submit()') Submit
      p.successMsg(ng-if='success') Posted!
      p.errorMsg(ng-if='error') Error...

    #preview-modal.modal.fade.modal-lg(tabindex='-1', role='dialog', aria-labelledby='preview-modal', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', aria-label='Close', ng-click="closePreview()")
              span(aria-hidden='true') ×
            h4.modal-title Preview
          .modal-body(ng-bind-html='post.content | parseMd')
          .modal-footer
            button.btn.btn-default(type='button', ng-click="closePreview()") Close
