div.container-fluid
  h1 Author: #{currentUser.username}
  form
    // Text input
    .form-group
      label.control-label(for='title') Title
      input#title.form-control.input-md(name='title', style='width:99%', type='text', placeholder='', required, ng-model='post.title')
    // Textarea
    .form-group
      label.control-label(for='content') Content
      textarea#content.form-control(style='width:99%; max-width:100%' ng-change='refreshPreview()' name='content' rows='10', ng-model='post.content')
    .form-group
      label.control-label(for='link') Video Link
      input#link.form-control.input-md(name='link', type='text', style='width:99%', placeholder='Link to any video, optional', ng-model='post.link')
    // Multiple Checkboxes
    .form-group
      .checkbox
        label(for='home')
          input#home(type='checkbox', name='home', value='1' ng-model='post.home')
          | On Home
    // Button
    .form-group
      a#preview-btn.btn.btn-info.form-btn-not-last(data-toggle='collapse', data-target='#preview-window') Preview
      a#submit.btn.btn-success(name='submit' ng-click='submit()') Submit
      p.successMsg(ng-if='success') Posted!
      p.errorMsg(ng-if='error') Error...

    #preview-window.collapse.fade.well(tabindex='-1', role='dialog', aria-labelledby='preview-modal', aria-hidden='true')
      .post(ng-repeat='p in blogs')
        h2.title
          a(href='#') 
          | {{post.title}}
        p.meta
          | Posted by
          a(href='#') #{currentUser.username}
          |  on {{currentDate | date : 'fullDate'}}
          | 							 •  
          a.comments(href='#') Comments (999+)
          |   •  
          a.permalink(href='#') Full article
        .entry
          p
            iframe.alignleft.border(ng-if='post.link != null' ng-src="{{post.link | trustUrl}}" width='300' height='300')
            p(ng-bind-html="post.content | parseMd")
  iframe(name="hiddenFrame" width="0" height="0" border="0" style="display: none;")
  form#uploadForm(action='/management/upload' method='POST' enctype="multipart/form-data" target='hiddenFrame')
    input(style='margin-bottom:20px' type="file" fileread='pics' value="upload" multiple)
