ul
  li
    h2 Blogger's Word
    p
      | Hey! I am Duo Tao. I am a friendly, active and cordial person. I am a {{classyear | lowercase}} at Carleton College right now and I major in Physics and Computer Science: I love Cool Techonologies! I also enjoy Trianthon and Basketball in my free time.
  li
    h2 Recent Posts
    ul
      li(ng-repeat='p in blogs')
        a(href='#') {{p.title}}
  li
    h2 Github Repos
    ul
    each r in repos
      li
        a(href= r.url)= r.name
        p= r.desc
