<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Black / White   
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20111121

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="Duo, Tao, Personal, Blog, Software, Engineer, Web Developer, Carleton, College, Student" />
<meta name="description" content="This is Duo Tao's Personal Blog" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Duo Tao's Blog</title>
<link href='http://fonts.googleapis.com/css?family=Nova+Mono' rel='stylesheet' type='text/css' />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD89bIU8CSPo0lCWjSk-x57pIP_67oAa2A"></script>
<script src="controllers.js" type='text/javascript'></script>
</head>
<body ng-app="mainApp">
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">Duo Tao's Blog </a></h1>
				<p>A <a href="http://www.carleton.edu" rel="nofollow">Carleton College</a> {{classyear}}</p>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu" ng-controller="menuController">
		<ul>
			<li ng-class="{'current_page_item' : content === 'home'}"><a ng-click="switchContent('home')">Home</a></li>
			<li ng-class="{'current_page_item' : content === 'blog'}"><a ng-click="switchContent('blog')">Blog</a></li>
			<li ng-class="{'current_page_item' : content === 'about'}"><a ng-click="switchContent('about')">About</a></li>
			<li ng-class="{'current_page_item' : content === 'contact'}"><a ng-click="switchContent('contact')">Contact</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content" ng-if="content === 'home'">
					<div class="post">
						<h2 class="title"><a href="#">Welcome to Black/White </a></h2>
						<p class="meta">Posted by <a href="#">Someone</a> on November 10, 2011
							&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
						<div class="entry">
							<p><img src="images/img03.jpg" width="186" height="186" alt="" class="alignleft border" />This is <strong>Black/White </strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.  The picture in this template is from <a href="http://pdohoto.org">PDPhoto.org</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you’re pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :)</p>
							<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.</p>
						</div>
					</div>
					<div class="post">
						<h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
						<p class="meta">Posted by <a href="#">Someone</a> on November 8, 2011
							&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
						<div class="entry">
							<p><img src="images/img03.jpg" width="186" height="186" alt="" class="alignleft border" />Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, consectetuer nisl felis ac diam. Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. Mauris vitae nisl nec metus placerat consectetuer. </p>
						</div>
					</div>
					<div class="post">
						<h2 class="title"><a href="#">Phasellus pellentesque turpis </a></h2>
						<p class="meta">Posted by <a href="#">Someone</a> on November 8, 2011
							&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
						<div class="entry">
							<p><img src="images/img03.jpg" width="186" height="186" alt="" class="alignleft border" />Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc. Donec ipsum. Proin imperdiet est. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc.</p>
						</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>

				<div id='blog' ng-if="content === 'blog'">
					<div class="post">
						<h2 class="title"><a href="#">Phasellus pellentesque turpis </a></h2>
						<p class="meta">Posted by <a href="#">Someone</a> on November 8, 2011
							&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
						<div class="entry">
							<p><img src="images/img03.jpg" width="186" height="186" alt="" class="alignleft border" />Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc. Donec ipsum. Proin imperdiet est. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc.</p>
						</div>
					</div>
				</div>

				<div id='about' ng-if="content === 'about'" ng-controller="aboutController">
					<div class="post">
						<h2 class="title"><a href="#">About Me </a></h2>
						<p>A CS / Physics Major At Carleton College</p>
						<div class="entry">
							<p>
								<img src="images/personal_pic_edges.jpg" width="200" height="186" alt="" class="alignleft border" ng-if='!real'ng-click='toggleImg()' style='cursor:pointer'/>
								<img src="images/personal_pic.jpg" width="200" height="186" alt="" class="alignleft border" ng-if='real' ng-click='toggleImg()' style='cursor:pointer'/>
								Hey there. My name is Duo Tao and I'm a {{classyear | lowercase}} at Carleton College. I study Computer Science and physics. I am very interested in integrating different techonologies and create new things. Currently I am looking at Virtual Reality, Internet of Things and Artificial Intelligence. I also have strong interests in general electronics and visual recognization.
							</p>
						</div>
					</div>
				</div>
				<div id='contact' ng-if="content === 'contact'" ng-controller="contactController" ng-init="initMap()">
					<div class="post">
						<h2 class="title"><a href="#">Contact Me </a></h2>
						<div class="entry">
							<ul>
								<li><b>Email</b>: taod@carleton.edu</li>
								<li><b>Address</b>: 300 North College Street, Northfield, MN, USA 55057</li>
							</ul>
							<div id="map"></div>
						</div>
					</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>
							<h2>Blogger's Word</h2>
							<p>Hey! I am Duo Tao. I am a friendly, active and cordial person. I am a {{classyear | lowercase}} at Carleton College right now and I major in Physics and Computer Science: I love Cool Techonologies! I also enjoy Trianthon and Basketball in my free time. </p>
						</li>
						<li>
							<h2>Recent Posts</h2>
							<ul>
								<li><a href="#">Aliquam libero</a></li>
								<li><a href="#">Consectetuer adipiscing elit</a></li>
								<li><a href="#">Metus aliquam pellentesque</a></li>
								<li><a href="#">Suspendisse iaculis mauris</a></li>
								<li><a href="#">Urnanet non molestie semper</a></li>
								<li><a href="#">Proin gravida orci porttitor</a></li>
							</ul>
						</li>
						<li>
							<h2>Github Repos</h2>
							<ul>
								<li>
									<a href="https://github.com/taoduo/LineDetection">Line Detector</a>
									<p>Visual Recognization</p>
								</li>
								<li>
									<a href="https://github.com/CarletonDevX/textbook-exchange">Textbook Exchange</a>
									<p>Website for textbooks</p>
								</li>
								<li>
									<a href="https://github.com/taoduo/lyrproj">Celebrity Net Worth</a>
									<p>Website, data entry UI</p>
								</li>
								<li>
									<a href="https://github.com/taoduo/mywebsite">My Application Collections</a>
									<p>All my apps</p>
								</li>
								<li>
									<a href="https://github.com/taoduo/QtSongWriter">Midi Track Writer</a>
									<p>C++ Song writing software</p>
								</li>
								<li>
									<a href="https://github.com/taoduo/AdvertisementClickCounter">Ad Click Counter</a>
									<p>Hadoop MapReduce Demo</p>
								</li>
								<li>
									<a href="https://github.com/taoduo/RoboticArmWithInternetOfThings">IoT Robotic Arm</a>
									<p>Arduino, arm with IoT I/O</p>
								</li>
								<li>
									<a href="https://github.com/taoduo/3DImmersiveAudio">3D sound navigator</a>
									<p>VR project to guide the blind with audio</p>
								</li>
								<li>
									<a href="https://github.com/xxf1995/xxf1995.github.io">Zombie Forest</a>
									<p>A VR survival game made</p>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>&copy; Untitled. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
