doctype strict

html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='keywords', content='Duo, Tao, Personal, Blog, Software, Engineer, Web Developer, Carleton, College, Student')
    meta(name='description', content="This is Duo Tao's Personal Blog")
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title Duo Tao's Blog
    link(href='https://fonts.googleapis.com/css?family=Nova+Mono', rel='stylesheet', type='text/css')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD89bIU8CSPo0lCWjSk-x57pIP_67oAa2A')
    
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js")
    
    script(src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css', media='screen')

  body(ng-app='mainApp')
    block content
