doctype strict

html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='keywords', content='Duo, Tao, Personal, Blog, Software, Engineer, Web Developer, Carleton, College, Student')
    meta(name='description', content="This is Duo Tao's Personal Blog")
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title Duo Tao's Blog
    // common libraries
    link(href='/libs/Novo+Mono.css', rel='stylesheet', type='text/css')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD89bIU8CSPo0lCWjSk-x57pIP_67oAa2A')
    script(src='/angular/angular.min.js')
    script(src="/angular-sanitize/angular-sanitize.js")
    script(src="/angular-route/angular-route.js")
    script(src="/libs/jquery-2.2.3.min.js")
    link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script(src="/showdown/dist/showdown.min.js")
    script(src='/libs/bootstrap-filestyle-1.2.1/src/bootstrap-filestyle.min.js')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css', media='screen')

  body
    block content
