extends layout
block content
  script(src="https://cdn.rawgit.com/showdownjs/showdown/1.4.2/dist/showdown.min.js" crossorigin="anonymous")
  script(src='/controllers/manager.js', type='text/javascript')
  #wrapper
    #header-wrapper
      #header
        #logo
          h1
            a(href='#') Duo Tao's Blog 
          p
            |  Administrator Page
    // end #header
    #menu(ng-controller='menuController')
      include partials/managementMenu
