extends indexLayout
block content
  - var loader = "adm";
  script(src='/controllers/manager.js', type='text/javascript')
  #wrapper
    #header-wrapper
      #header
        #logo
          h1
            a(href='#') Duo Tao's Blog 
          p
            |  Administrator Page
    // end #header
    #menu(ng-controller='menuController')
      include partials/managementMenu
