extends layout
block content
  script(src='/modules/controllers.management.js')
  .app-wrapper(ng-app='management')
    #wrapper
      #header-wrapper
        #header
          #logo
            h1
              a(href='#') Duo Tao's Blog 
            p
              |  Administrator Page
      // end #header
      #menu(ng-controller='menuController')
        include partials/managementMenu
      // end #menu
      #page
        #page-bgtop
          #page-bgbtm
            #content(ng-if="content === 'overview'")
              include partials/overview
            #blog(ng-if="content === 'delete'")
              include partials/delete
            #about(ng-if="content === 'post'")
              include partials/post
            div(style='clear: both;')
      // end #page
    #footer
      include partials/footer
