
/*
Credits to: TEMPLATED
http://templated.co
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(/images/img04.jpg) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #808080;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: 'Nova Mono', cursive;
	font-weight: normal;
	color: #2E9F13;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

iframe.border {
	border: 6px solid #EEE7DF;
}

.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: left;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 240px;
}

#header {
	width: 960px;
	height: 240px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	height: 100px;
	margin: 0;
	padding: 0px;
	color: #1A1A1A;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	margin: 0px;
	padding-top: 100px;
	padding-left: 30px;
	letter-spacing: -1px;
	font-size: 64px;
	color: #1A1A1A;
}

#logo h1 a {
	color: #1A1A1A;
}

#logo p {
	padding: 0px 0 0 34px;
	font-family: 'Nova Mono', cursive;
	font-size: 20px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	font-family: 'Nova Mono', cursive;
	color: #A4A4A4;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 100px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 60px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 960px;
	height: 40px;
	margin: 0 auto;
	padding: 0;
	background: #000000;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	cursor: pointer;
}

#menu a {
	display: block;
	float: left;
	height: 35px;
	margin: 0px;
	padding: 5px 30px 0px 30px;
	text-decoration: none;
	font-family: 'Nova Mono', cursive;
	font-size: 20px;
	color: #B5B5B5;
	border: none;
}

#menu .current_page_item a {
	background: url(/images/img02.jpg) no-repeat center bottom;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

#page-bgtop {
}

#page-bgbtm {
	margin: 0px;
	padding: 40px 30px 0px 30px;
}

/* Content */

#content, #blog, #about, #contact {
	float: left;
	width: 600px;
	padding: 0px 0px 0px 0px;
}
#blog, #about, #contact {
	float: left;
	width: 100%;
	padding: 0px 0px 0px 0px;
}
#map {
	height: 500px;
}
.post {
	clear: both;
	padding-top: 20px;
	padding-bottom: 10px;
}

.post .title {
	padding-top: 10px;
	letter-spacing: -2px;
}

.post .title a {
	color: #1A1A1A;
	font-family: 'Nova Mono', cursive;
	border: none;
}

.post .meta {
	padding-bottom: 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 240px;
	padding: 0px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 15px;
	padding-bottom: 30px;
}

#sidebar li li {
	padding-left: 20px;
	line-height: 35px;
	background: url(/images/img01.jpg) no-repeat left 12px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 15px;
	border-bottom: 1px solid #D0D0D0;
	font-family: 'Nova Mono', cursive;
	letter-spacing: -1px;
	font-size: 24px;
	color: #1A1A1A;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 960px;
	height: 55px;
	margin: 0px auto 40px auto;
	border-top: 1px solid #D0D0D0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	text-align: center;
	color: #676767;
}

#footer a {
	color: #676767;
}

/* Sign In / Sign Up */
.errMsg {
	color: red;
	margin-left: 10px;
}

.successMsg {
	color: green;
	margin-left: 10px;
}

/* Forms */
.form-btn-not-last {
	margin-right:10px;
}

#overview-table .btn{
	margin-right: 3px;
}

#overview-table tr:hover {
	cursor: pointer;
	background: #eeeeee;
}
